<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QlubbahApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03C66ACA1BBB3E0400AAD041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C66AE11BBB3E0500AAD041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C66AEC1BBB3E0500AAD041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
